<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/create_post_style.css">
    <title>Freedom Wall</title>
    <script src="/js/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    {{> header}}
    <div class="page">
        <div class="main">
            <div class="container">
                <div class="top">
                    <div id="bar"></div>
                    <span>Create Post</span>
                </div>
                <form action="/posts" method="POST">
                    <div class="title-bar">
                        <input type="text" id="title_input" placeholder="Title" name="title">
                    </div>
                    <div class="text-box">
                        <textarea id="text_input" placeholder="Text" row="auto" cols="auto" name="content"></textarea>
                    </div>
                    <div class="tags">
                        <input type="hidden" id="tag-value" name="tag" hidden>
                        <div class="tag-cont" name="Community">
                                <div class="tag">
                                    <span>Community</span>
                                </div>
                            </input>
                        </div>
                        <div class="tag-cont" name="Education">
                            <div class="tag">
                                <span>Education</span>
                            </div>
                        </div>
                        <div class="tag-cont" name="Homework">
                            <div class="tag">
                                <span>Homework</span>
                            </div>
                        </div>
                        <div class="tag-cont" name="General">
                            <div class="tag">
                                <span>General</span>
                            </div>
                        </div>
                        <div class="tag-cont" name="Event">
                            <div class="tag">
                                <span>Event</span>
                            </div>
                        </div>
                    </div>
                      <button type="submit" id="post_btn">Post</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
