<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/edit-prof.css" />
    <script src="js/jquery-3.6.0.min.js"></script>
</head>
<body>
  {{> header}}
   <div class="profile-section">
        <form action="/update_profile" method="POST"> <!-- Form for submitting profile updates -->
            <div class="top-p">
                <div class="profile-pic">
                    <input type="file" name="profilePic" id="profilePicInput" accept="image/*" style="display: none"/>
                    <label for="profilePicInput">
                        <img id="profilePic" src="/images/pfp.jpg" alt="profile-pic" />
                    </label>
                    <img src="images/pen-icon.svg" class="pen" id="pen-pfp" alt="pen-pfp" />
                </div>
                <div class="username-container">
                    <h1><input type="text" name="username" value="{{currentUser.username}}" /></h1> <!-- Input field for username -->
                    <img src="images/pen-icon.svg" class="pen" id="green-pen1" alt="green-pen" />
                </div>
            </div>
            <div class="bio-section">
                <textarea name="bio">{{currentUser.bio}}</textarea> <!-- Textarea for bio -->
                <img src="images/pen-icon.svg" class="pen" id="green-pen2" alt="green-pen" />
            </div>
            <div class="buttons">
                <button type="button" id="cancel-button" onclick="window.location='/user/{{currentUser._id}}'">Cancel</button>
                <button type="submit" id="confirm-button">Confirm</button> <!-- Submit button to save changes -->
            </div>
        </form>
    </div>

    <script src="js/profile-pic.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
